Source: jclic
Section: education
Priority: extra
Maintainer: Francesc Busquets <francesc@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: ant, default-jdk (>= 1:1.6)
Standards-Version: 3.9.2
Homepage: http://clic.xtec.cat
#Vcs-Git: git://git.debian.org/collab-maint/jclic.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/jclic.git;a=summary

Package: jclic
Architecture: all
Depends: ${misc:Depends}, default-jre (>= 1:1.6)
Recommends: libmysql-java
Suggests: ttf-mscorefonts-installer
Description: Authoring tool and player for multimedia educational activities
 JClic is formed by a set of computer applications that are used for
 carrying out different types of educational activities: puzzles, associations,
 text exercises, crosswords...
