*.class

# Package Files and binary distributables #
*.jar
*.war
*.ear
*.exe
*.zip
*.gz

# Back and log files #
*.bak
*~
*.log

# Build and doc directories #
build/
apidoc/
javadoc/
**/build/
**/apidoc/
**/javadoc/

# Directories with intermediate files #
i18n/fromLaunchpad/properties/
i18n/toLaunchpad/po/
netbeans/

# No redistributable Java bootstrap files #
lib/bootstrap/*/rt.jar

# Netbeans private and build directories #
/nbeans/nbproject/private/
/nbeans/dist/
/nbeans/build/

